# Temporary or private files
*.pyc
*/__pycache__/
*.swp
*.temp
*.log

# Any module that has 'EXCLUDE' in it's name
modules/*EXCLUDE*
EXCLUDE*.py

# Memory files
discord/memories/*.json
discord/memories/*.json~
# This technically counts as one
discord/siblings.txt

# Guildfile
discord/guilds.txt